@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic);

body { width: 100%; height: 100%; background-color: #f6f6f6; }

#site-content { margin-top: 10px; }
#site-content { height: inherit; padding-bottom: 5px; }
#site-content .container { height: inherit; padding-bottom: 5px; }


#site-header { background-color: #003366; display: block; }

#header-navigation { float: right; position: inherit; display: inline-block; width: 100%; z-index: 10; background-color: #505050; }
#header-navigation ul li { text-transform: uppercase; }
#header-navigation ul li a { color: #F3EFE0; }
#header-navigation ul li a:hover { color: #9D2E2C; }

.brand { padding-bottom: 5px; padding-top: 5px; }

#site-footer { background-color: #003366; color: #B7AFA3; padding-bottom: 10px; }
#site-footer h3 { color: #9D2E2C; font-weight: bolder; }
#site-footer h3 small { color: #B7AFA3; }
#site-footer h4 small { color: #B7AFA3; }
#site-footer h5 { text-transform: uppercase; color: #C0C0C0; font-weight: bolder; }
#site-footer h5 small { color: #B7AFA3; }
#site-footer li a { color: #FFFE59; }